/* color naranja E35205 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather&family=Oswald:wght@300&family=Secular+One&display=swap');
* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
}
.section-carousel {
  margin-top: 75px;
}

.section-services {
  margin-top: 30px;
}
h2 {
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-size: medium;
}
h2::first-letter {
  color: #e35205;
}

.navbarContainer{
  padding-left: 300px;
}
.navbarContainer>ul>li>a{
  font-family: "Lato", sans-serif;
  font-weight: 600;
  }
li > a {
  position: relative;
  text-decoration: none;
  color: #000; /* Color del texto */
}

li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Grosor del subrayado */
  bottom: -1px;
  left: 0;
  background-color: #e35205; /* Color del subrayado */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out; /* Duración y tipo de transición */
}

li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* industry */
.section-industry {
  margin: 20px;
}

.card {
  margin-bottom: 20px; /* Agrega espacio entre las tarjetas */
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%; /* Ancho al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}
.card span {
  position: absolute;
  font-weight: 550;
  top: 0;
  left: 0;
  width: 100%;
  height: 184%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Cambiar el color del texto a blanco */
  font-size: 1em;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5); /* Agregar un fondo oscuro */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:hover {
  opacity: 1;
}
.message {
  color: white;
  font-size: 0.8em;
  padding: 30px;
}
.card:hover span {
  display: none;
}

@media (max-width: 576px) {
    .message {
        font-size: 0.8em; 
    }

    .navbarContainer{
      padding-left: 0px;
    }
}

/* Productos */
.logo {
  width: 250px;
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: auto;
  
}


/* Producto */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: bottom 0.3s ease-out;
}


.caption-title {
  margin: 0;
  font-size: 24px;
  transition: bottom 0.3s ease-out; /* Applying the same transition */
}

.caption-description {
  margin: 10px 0 0 0;
  font-size: 16px;
  display: none;
}

.image-container:hover .caption-description,
.image-container:hover .caption-title {
  display: block;
}
