/* color naranja E35205 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather&family=Oswald:wght@300&family=Secular+One&display=swap');
* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
}
.section-carousel {
  margin-top: 70px;
}

.section-services {
  margin-top: 30px;
}
h2 {
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-size: medium;
}
h2::first-letter {
  color: #e35205;
}

.navbarContainer{
  padding-left: 300px;
}
.navbarContainer>ul>li>a{
  font-family: "Lato", sans-serif;
  font-weight: 600;
  }
li > a {
  position: relative;
  text-decoration: none;
  color: #000; /* Color del texto */
}

li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Grosor del subrayado */
  bottom: -1px;
  left: 0;
  background-color: #e35205; /* Color del subrayado */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out; /* Duración y tipo de transición */
}

li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* industry */
.section-industry {
  margin: 20px;
}

.card {
  margin-bottom: 20px; /* Agrega espacio entre las tarjetas */
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%; /* Ancho al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}
.card span {
  position: absolute;
  font-weight: 550;
  top: 0;
  left: 0;
  width: 100%;
  height: 184%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Cambiar el color del texto a blanco */
  font-size: 1em;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5); /* Agregar un fondo oscuro */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:hover {
  opacity: 1;
}
.message {
  color: white;
  font-size: 0.8em;
  padding: 30px;
}
.card:hover span {
  display: none;
}

/* Productos */
.section-products{
  margin-bottom: 150px;
}
.logo {
  width: 250px;
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: auto;
  
}
.item {
  position: relative;
  height: 19rem;
  background-color: lightGrey;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  
  h3 {
    margin: 0;
    display: block;
    background-color: #fff;
    color: black;
    padding: 1rem;
  }
  
  .displayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    &:hover,
    &:focus {
      ~ .item__overlay {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%; /* Cambiado a 50% */
  position: absolute;
  width: 100%;
  top: 50%; /* Cambiado a 50% */
  transform: translateY(-50%); /* Alinea el centro del overlay con el centro de la imagen */
  transition: transform 300ms;
  background-color: lighten(turquoise, 15%);
  transform: translate3d(0, calc(100% - 3.5rem), 0);
}
.item:hover .item__overlay, /* Cambiado para aplicar a la clase item al hacer hover */
.item:focus .item__overlay {
  transform: translate3d(0, 50%, 0); /* Cambiado para que el overlay se desplace hacia arriba el 50% */
}

.item__body {
  flex-grow: 1;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  
  p {
    margin: 0;
  }
}


@media (max-width: 576px) {
  .section-carousel {  
    margin-top: 60px;
  }

  .message {
    font-size: 0.8em; 
  }

  .navbarContainer {
    padding-left: 0px;
  }

  .navbar-brand img {
    max-width: 100px; /* Ajusta el tamaño del logo a 80px */
  }

  .carousel-item img {
    object-fit: cover; /* Asegura que las imágenes se ajusten dentro del contenedor del carousel */
  }

  h3 {
    background-color: #fff;
    margin-bottom: 0px!important;
    display: block;
    background-color: #fff;
    color: black;
    padding: 1rem;
  }

  .item__overlay {
    height: 50%; /* Ajusta la altura al 50% en dispositivos móviles */
    top: 50%; /* Alinea el overlay en el centro verticalmente en dispositivos móviles */
    transform: translateY(-50%); /* Alinea el overlay en el centro verticalmente en dispositivos móviles */
    transition: transform 300ms; /* Asegura que la transición se aplique correctamente */
    background-color: lighten(turquoise, 15%);
    transform: translate3d(0, calc(100% - 3.5rem), 0); /* Ajusta la transformación inicial */
  }

  .item:hover .item__overlay,
  .item:focus .item__overlay {
    transform: translate3d(0, 0, 0); /* Ajusta la transformación */
  }
}

